.textwrapper {
    font-family: 'Roboto Condensed', sans-serif;
    color : #4299e1 ;


}



/* .textwrapper::after{
    width: auto;
    height: 30%;
    position: absolute;
    bottom: 1;
    left: 0;
    background-color: red;
    z-index: -1;

} */